extends ./layout.jade

block head-on
	meta(http-equiv="refresh", content="3;URL='http://matthias.beitl.net/'")
	style html{padding:6em 4em;color:#fff;background:#222;color:#fff;font:16px/1.4 sans-serif}h1{color:#999}a{color:#bada55}

block body
	h1 404
	p Aww, that should not happen.
	p
		| You will be 
		a(rel="home", href="http://matthias.beitl.net/") redirected
		|  shortly.
