extends ./index.jade

block content
	main.segment#top
		.note
			h1
				b Content not found
			p
				| We cannot find the content you requested. How about you visit the 
				a(href="/") homepage
				|  instead?

block downloads
