nav.segment#elsewhere
	h2.print Links
	ul.bookmarks
		each bookmark in bookmarks
			- var siteUrl = bookmark.url.indexOf(pkg.homepage) === 0
			li.bookmark
				a(class=bookmark.id, tabindex=siteUrl ? "-1" : "1" , href=bookmark.url, rel=bookmark.rel)
					!= bookmark.iconRaw + " " + bookmark.title
