h2.cv-title Curriculum Vitae

section.cv-item
	h3 Personal details
	dl
		dt Name
		dd Matthias Beitl
		dt Born
		dd 1977
		dt Gender
		dd Male
		dt Nationality
		dd Austrian
		dt Address
		dd Karlstetten, Austria - Europe
		dt Mobile phone
		dd.tel
			abbr(title="Austria") &#43;43
			| 67761147002
		dt e-mail
		dd.email
			| recruiting-2016
			abbr(title="at") &#64;
			| beitl
			abbr(title="dot") &#46;
			| net

section.cv-item
	h3.cv-item-title Work experience
	section
		h4.period
			time(datetime="2015-12") December 2015
			|	– Present
		.company
			a(href="http://trinn.consulting/") TRINN Consulting GmbH
			br
			| 5 employees in Vienna, Austria.
		.job
			p.job-summary Ideation, Consulting & Development 
				i.job-timespan 2015-
			ul.job-details
				li Consulting clients in digital innovation and technical aspects.
				li Developing working prototypes for the company portfolio.
				li Setting up services and infrastructure for events.
				li Responsible for the company’s server and website. 
	section
		h4.period
			time(datetime="2012-12") December 2012
			|	– 
			time(datetime="2015-11") November 2015
		.company
			a(href="http://www.beeone.at/") BeeOne GmbH
			| , a subsidiary of Erste Group Bank,
			br
			| 30 employees in Vienna, Austria.
		.job
			p.job-summary Ideation, Research & Development 
				i.job-timespan 2012-2015
			ul.job-details
				li Developing working prototypes to visualize new features, to be used either standalone or to be potentially incorporated into the most modern banking experience in the region.
				li Coming up with innovative approaches for financial services and presenting them at the R&D team meetings of Erste Hub.
				li Administrating the company’s website and parts of the server landscape.
				li Contributing to the further development of the websites of 
					a(href="http://www.erstegroup.com/") Erste Group
					| .
				li Front end web development for solutions used in-house at
					a(href="http://www.erstebank.at/") Erste Bank Austria
					| .
				li Responsible for
					a(href="https://github.com/BeeOneGmbH/money") MONEY
					| , an interactive quiz for a financial literacy initiative coordinated by the 
					a(href="http://www.savings-banks.com/") European Savings and Retail Banking Group
				li	in Brussels (currently launched in 
					a(href="https://geldtyp.geldundso.at/") Austria
					| and 
					a(href="http://www.money-quizz.caisse-epargne.fr/") France
					| .
				li Member of 
					a(href="http://www.mobeyforum.org/") MobeyForum
					| .
	section
		h4.period
			time(datetime="2006-04") April 2006
			|	– 
			time(datetime="2012-11") November 2012
		.company
			a(href="http://www.s-itsolutions.at/") s IT Solutions AT Spardat GmbH
			| ,
			br
			| 1,000+ employees in Vienna, Austria.
		.job
			p.job-summary Web Developer 
				i.job-timespan 2010–2012
			ul.job-details
				li Front end web development for the Group Portal, a themed website used for many information portals, from 
					a(href="http://www.sparkasse.at/") Austria
					|	to 
					a(href="http://www.bcr.ro/") Romania
					| , but also for 
					a(href="http://www.wsd-leasing.at/") special variants
					| , etc.
				li Mobile app prototyping with 
					a(href="http://phonegap.com/") PhoneGap.
				li CMMI “Programming Guidelines Officer” for HTML/CSS and Javascript.
				li Providing expertise on HTML5 and CSS3 for the refactoring of the Austrian online banking, carried out by 
					a(href="http://www.nagarro.com/") Nagarro
					| .
				li Speaking about current topics, e.g., Mobile UI Design, 
					a(href="http://en.wikipedia.org/wiki/Responsive_Web_Design") Responsive Web Design
					| , and
				li teaching web technologies at the company’s software engineering academy.
		.job
			p.job-summary Software Developer 
				i.job-timespan 2008–2010
			ul.job-details
				li Developing software for loan applications, written in Java.
				li Technically responsible (by proxy) for operational risk applications.
				li Contributing to 
					a(href="http://openxma.codehaus.org/") openXMA
					| , the company’s web framework, released under the Eclipse Public License.
		.job
			p.job-summary Business Analyst 
				i.job-timespan 2006–2008
			ul.job-details
				li Designing solutions for statutory reporting applications to route data to the Austrian National Bank, in order to make way for 
					a(href="http://en.wikipedia.org/wiki/XBRL") XBRL
					| &#x2009;—&#x2009;an open specification to describe financial information.
	section
		h4.period
			time(datetime="1997-03") March 1997
			|	– 
			time(datetime="2006-03") March 2006
		.company
			| Sparkassen Datendienst GmbH
			| ,
			br
			| 500+ employees in Vienna, Austria.
		.job
			p.job-summary Web Developer 
				i.job-timespan 2003–2006
			ul.job-details
				li Developing a web content management framework for the 
					a(href="http://www.sparkasse.at/") Austrian Savings Banks
					| , written in Tcl/Tk.
					li Designing and developing features for special purpose websites, such as 
					a(href="http://www.spark7.com/") Youth
					|	and 
					a(href="http://www.wohnquadrat.at/") Real Estate
					| .
				li Supervising the technical integration of the enterprise content management system “Documentum” by 
					a(href="http://www.emc.com/") EMC²
					| .
		.job
			p.job-summary Technical Project Manager 
				i.job-timespan 2001–2003
			ul.job-details
				li Responsible for the interbank clearing solution, processing domestic payments by a total of more than €1,000,000 per day.
		.job
			p.job-summary Software Developer 
				i.job-timespan 1997–2001
			ul.job-details
				li Developing software for domestic payment systems, written in Assembler and Cobol.
				li Participating in major projects such as Y2K and the two-step Austrian Euro Conversion (book money and cash).

section.cv-item
	h3.cv-item-title Education
	dl
		dt 1991 – 1995
		dd HTBLuVA St. Pölten, 3100 St. Pölten.
		dt June 1995
		dd Senior High School graduation.

section.cv-item
	h3.cv-item-title Certificates
	dl
		dt 2000
		dd Awarded with the Austrian professional title “Engineer” by the Federal Ministry for Economics and Labour.
		dt 2005
		dd Certified Java Programmer (SCJP 1.4) by Sun Microsystems.
		dt 2010
		dd Certified Java Programmer (SCJP 6) by ORACLE.
		dt 2011
		dd IREB® Certified Professional for Requirements Engineering.

section.cv-item
	h3.cv-item-title Skills
	dl
		dt Languages
		dd German: native
		dd English: fluent
		dt Organizational
		dd Project management with (but not limited to) SCRUM
		dd Requirements Management
		dt Computer
		dd Web development according to web standards; HTML, jade, CSS, LESS, SASS, Javascript, jQuery, node.js, 
			a(href="https://iojs.org/") io.js
			| , express, Java, mongoDB, mySQL, git, mercurial, Linux, Mac, Windows, and many more.
		dt Interests
		dd Passionate about state-of-the-art user interface design (web and native applications, on desktop and mobile) as well as barrier-free web development. Spare time interests include minimalism and 
			a(href="http://en.wikipedia.org/wiki/Degrowth") degrowth
			| , with some long distance running and reading on the side.

p.cv-item For further information, please follow the links provided at 
	a(href="#elsewhere") http://matthias.beitl.net/#elsewhere
	| .
