main.paper

	h2 Curriculum Vitae

	section
		h3
			b Personal details
		dl
			dt Name
			dd Matthias Beitl
			dt Born
			dd 1977
			dt Gender
			dd Male
			dt Nationality
			dd Austrian
			dt Address
			dd Lower Austria
			dt Phone
			dd.tel
				abbr(title="Austria") &#43;43
				| 67761147002
			dt Email
			dd.email
				| recruiting-2016
				abbr(title="at") &#64;
				| beitl
				abbr(title="dot") &#46;
				| net

	section
		h3
			b Work experience
		section
			h4.milestone December 2015 – Present
			p.milestone
				a.company(href="http://trinn.consulting/") TRINN Consulting GmbH
				br
				| 5 employees in Vienna, Austria.
			h5 #[i.timestamp ongoing] Consulting, Ideation & Development
			ul
				li Consulting clients in technical aspects, focusing on digital innovation.
				li Developing working prototypes for the company portfolio.
				li Setting up services and infrastructure for events.
				li Responsible for the company’s server and website. 
		section
			h4.milestone December 2012 – November 2015
			p.milestone
				a.company(href="http://www.beeone.at/") BeeOne GmbH
				| , a subsidiary of Erste Group,
				br
				| 30 employees in Vienna, Austria.
			h5 #[i.timestamp 2012-2015] Ideation, Research & Development
			ul
				li Developing working prototypes to visualize new features, to be used either standalone or to be potentially incorporated into the most modern banking experience in the region.
				li Coming up with innovative approaches for financial services and presenting them at the R&D team meetings of Erste Hub.
				li Administrating the company’s website and parts of the server landscape.
				li Contributing to the further development of the websites of 
					a(href="http://www.erstegroup.com/") Erste Group
					| .
				li Contributing to front-end web development for solutions used in-house at 
					a(href="http://www.erstebank.at/") Erste Bank Austria
					| .
				li Responsible for 
					a(href="https://github.com/BeeOneGmbH/money") MONEY
					| , an interactive quiz for a financial literacy initiative coordinated by the 
					a(href="http://www.savings-banks.com/") European Savings and Retail Banking Group
					|  in Brussels (currently launched in 
					a(href="https://geldtyp.geldundso.at/") Austria
					|  and 
					a(href="http://www.money-quizz.caisse-epargne.fr/") France
					| ).
				li Member of 
					a(href="http://www.mobeyforum.org/") MobeyForum
					| .
		section
			h4.milestone April 2006 – November 2012
			p.milestone
				a.company(href="http://www.s-itsolutions.at/") s IT Solutions AT Spardat GmbH
				| ,
				br
				| 1,000+ employees in Vienna, Austria.
			h5 #[i.timestamp 2010–2012] Web Development
			ul
				li Front-end web development for the Group Portal, a themed website used for many information portals, from 
					a(href="http://www.sparkasse.at/") Austria
					|  to 
					a(href="http://www.bcr.ro/") Romania
					| , but also for 
					a(href="http://www.wsd-leasing.at/") special variants
					| , etc.
				li Mobile app prototyping with 
					a(href="http://phonegap.com/") PhoneGap.
				li CMMI “Programming Guidelines Officer” for HTML/CSS and Javascript.
				li Providing expertise on HTML5 and CSS3 for the refactoring of the Austrian online banking, carried out by 
					a(href="http://www.nagarro.com/") Nagarro
					| .
				li Speaking about current topics, e.g., Mobile UI Design, 
					a(href="http://en.wikipedia.org/wiki/Responsive_Web_Design") Responsive Web Design
					| , and
				li teaching web technologies at the company’s software engineering academy.
			h5 #[i.timestamp 2008–2010] Software Development
			ul
				li Developing software for loan applications, written in Java.
				li Technically responsible (by proxy) for operational risk applications.
				li Contributing to 
					a(href="http://openxma.codehaus.org/") openXMA
					| , the company’s web framework, released under the Eclipse Public License.
			h5 #[i.timestamp 2006–2008] Business Analysis
			ul
				li Designing solutions for statutory reporting applications to route data to the Austrian National Bank, in order to make way for 
					a(href="http://en.wikipedia.org/wiki/XBRL") XBRL
					| &#x2009;—&#x2009;an open specification to describe financial information.
		section
			h4.milestone March 1997 – March 2006
			p.milestone
				span.company Sparkassen Datendienst GmbH
				| ,
				br
				| 500+ employees in Vienna, Austria.
			h5 #[i.timestamp 2003–2006] Web Development
			ul
				li Developing a web content management framework for the 
					a(href="http://www.sparkasse.at/") Austrian Savings Banks
					| , written in Tcl/Tk.
				li Designing and developing features for special purpose websites, such as 
					a(href="http://www.spark7.com/") Youth
					|  and 
					a(href="http://www.wohnquadrat.at/") Real Estate
					| .
				li Supervising the technical integration of the enterprise content management system “Documentum” by 
					a(href="http://www.emc.com/") EMC²
					| .
			h5 #[i.timestamp 2001–2003] Product Ownership
			ul
				li Responsible for the interbank clearing solution, processing domestic payments by a total of more than €1,000,000 per day.
			h5 #[i.timestamp 1997–2001] Software Development
			ul
				li Developing software for domestic payment systems, written in Assembler and Cobol.
				li Participating in major projects such as Y2K and the two-step Austrian Euro Conversion (book money and cash).

	section
		h3
			b Education
			|  & 
			b Certificates
		ul
			li #[i.timestamp 1991–1995] HTBLuVA St. Pölten, 3100 St. Pölten.
			li #[i.timestamp 1995] Senior High School graduation.
			li #[i.timestamp 2000] Awarded with the Austrian professional title “Engineer” by the Federal Ministry for Economics and Labour.
			li #[i.timestamp 2005] Certified Java Programmer (SCJP 1.4) by Sun Microsystems.
			li #[i.timestamp 2010] Certified Java Programmer (SCJP 6) by ORACLE.
			li #[i.timestamp 2011] IREB® Certified Professional for Requirements Engineering.

	section
		h3
			b Languages
		ul
			li German: native.
			li English: fluent.

	section
		h3
			b Competences
		ul
			li Technical consulting, focusing on innovation.
			li Project management, favoring agile methodologies.
			li Requirements management.
			li Rapid prototyping.
			li Web development according to web standards.
	section
		h3
			b Interests
		p Passionate about state-of-the-art user interface design (web and native applications) as well as barrier-free web development.
		p Spare time interests include minimalism and 
			a(href="http://en.wikipedia.org/wiki/Degrowth") degrowth
			| , with some long distance running and reading on the side.
