.segment#cv
	h2 Curriculum Vitae

	section.container
		h3
			b Personal details
		dl
			dt Name
			dd Matthias Beitl
			dt Born
			dd 1977
			dt Gender
			dd Male
			dt Nationality
			dd Austrian
			dt Address
			dd 3121 Karlstetten, Austria
			dt Phone
			dd.tel &#43;43#[span.tel-area 677]61794478

	section.container(data-expand="The complete job history (all the way back to the year 1997) can be found under https://matthias.beitl.net/")
		h3
			b Work experience
		section.container
			h4 October 2017 – Present
			p
				a.company(href="https://www.beeone.at/") BeeOne&nbsp;GmbH
				| , a subsidiary of Erste&nbsp;Group,
				br
				| 25+ employees; in Vienna, Austria.
			h5 #[i.timestamp ongoing] Ideation & Development
			ul
				li Implementing a design pattern library for the 
					a(href="https://mygeorge.at/") most-talked-about Austrian online banking.
				li Establishing web accessibility guidelines and integrating them into aforementioned design pattern library.
				li Responsible for the company’s website.
		section.container
			h4 December 2015 – June 2017
			p
				a.company(href="https://trinn.consulting/") TRINN&nbsp;Consulting&nbsp;GmbH
				br
				| <10 employees; in Vienna, Austria.
			h5 #[i.timestamp 2015-2017] Consulting, Ideation & Development
			ul
				li Consulting clients in technical aspects, focusing on digital innovation.
				li Managing projects.
				li Developing working prototypes for clients and the company’s portfolio.
				li Responsible for the company’s server and website. 
		section.container.screen
			h4.page-break December 2012 – November 2015
			p
				a.company(href="https://www.beeone.at/") BeeOne&nbsp;GmbH
				| , a subsidiary of Erste&nbsp;Group,
				br
				| 25+ employees; in Vienna, Austria.
			h5 #[i.timestamp 2012-2015] Ideation, Research & Development
			ul
				li Developing working prototypes to visualize new features, to be used either standalone or to be potentially incorporated into the most modern banking experience in the region.
				li Coming up with innovative approaches for financial services and presenting them at the R&D team meetings of Erste&nbsp;Hub.
				li Administrating the company’s website and parts of the server landscape.
				li Contributing to the further development of the websites of 
					a(href="http://www.erstegroup.com/") Erste&nbsp;Group
					| .
				li Contributing to front-end web development for solutions used in-house at 
					a(href="http://www.erstebank.at/") Erste&nbsp;Bank Austria
					| .
				li Responsible for 
					a(href="https://github.com/BeeOneGmbH/money") MONEY
					| , an interactive quiz for a financial literacy initiative coordinated by the 
					a(href="http://www.savings-banks.com/") European Savings and Retail Banking Group
					|  in Brussels (currently running in 
					a(href="https://geldtyp.geldundso.at/") Austria
					|  and 
					a(href="http://www.money-quizz.caisse-epargne.fr/") France
					| ).
				li Member of 
					a(href="http://www.mobeyforum.org/") MobeyForum
					| .
		section.container.screen
			h4 April 2006 – November 2012
			p
				a.company(href="http://www.s-itsolutions.at/") s&nbsp;IT Solutions AT Spardat&nbsp;GmbH
				| ,
				br
				| 1,000+ employees; in Vienna, Austria.
			h5 #[i.timestamp 2010–2012] Web Development
			ul
				li Front-end web development for the Group Portal, a themeable platform, foundation for the bank websites in the respective countries, from 
					a(href="http://www.sparkasse.at/") Austria
					|  to 
					a(href="http://www.bcr.ro/") Romania
					| , including 
					a(href="http://www.wsd-leasing.at/") non-bank companies
					| .
				li Mobile app prototyping with 
					a(href="http://phonegap.com/") PhoneGap.
				li #[abbr CMMI] “Programming Guidelines Officer” for HTML/CSS and Javascript.
				li Providing expertise on HTML5 and CSS3 for the refactoring of the Austrian online banking, carried out by 
					a(href="http://www.nagarro.com/") Nagarro
					| .
				li Speaking about topics such as #[em Mobile UI Design], 
					a(href="http://en.wikipedia.org/wiki/Responsive_Web_Design") #[em Responsive Web Design]
					| , and
				li teaching web technologies at the company’s software engineering academy.
			h5 #[i.timestamp 2008–2010] Software Development
			ul
				li Developing software for loan applications, written in Java.
				li Technically responsible (by proxy) for operational risk applications.
				li Contributing to 
					a(href="http://openxma.codehaus.org/") openXMA
					| , the company’s web framework, released under the Eclipse Public License.
			h5.page-break #[i.timestamp 2006–2008] Business Analysis
			ul
				li Designing solutions for statutory reporting applications to route data to the Austrian National Bank, in order to make way for 
					a(href="http://en.wikipedia.org/wiki/XBRL") XBRL
					| &#x2009;—&#x2009;an open specification to describe financial information.
		section.container.screen
			h4 March 1997 – March 2006
			p
				span.company Sparkassen Datendienst GmbH
				| ,
				br
				| 500+ employees; in Vienna, Austria.
			h5 #[i.timestamp 2003–2006] Web Development
			ul
				li Developing a web content management framework for the 
					a(href="http://www.sparkasse.at/") Austrian Savings Banks
					| , written in Tcl/Tk.
				li Designing and developing features for special purpose websites, such as 
					a(href="http://www.spark7.com/") Youth
					|  and 
					a(href="http://www.wohnquadrat.at/") Real Estate
					| .
				li Supervising the technical integration of the enterprise content management system “Documentum” by 
					a(href="http://www.emc.com/") EMC²
					| .
			h5 #[i.timestamp 2001–2003] Product Ownership
			ul
				li Responsible for the interbank clearing solution, processing domestic payments by a total of more than €1bn per day.
			h5 #[i.timestamp 1997–2001] Software Development
			ul
				li Developing software for domestic payment systems, written in Assembler and Cobol.
				li Participating in major projects such as #[abbr Y2K] and the two-step Austrian Euro Conversion (book money and cash).

	section.container
		h3.page-break
			b Education
			|  & 
			b Certificates
		ul
			li #[i.timestamp 1996] Senior High School graduation at #[abbr(lang="de") HTBLuVA] in St. Pölten.
			li.print #[i.timestamp 2000] Awarded with the Austrian professional title “Engineer” by the Federal Ministry for Economics and Labour.
			li #[i.timestamp 2005] Certified Java Programmer (SCJP 1.4) by Sun Microsystems.
			li #[i.timestamp 2010] Certified Java Programmer (SCJP 6) by ORACLE.
			li #[i.timestamp 2011] IREB® Certified Professional for Requirements Engineering.

	section.container
		h3
			b Languages
		ul
			li German: native.
			li English: fluent.

	section.container
		h3
			b Competences
		ul
			li Technical consulting, focusing on innovation.
			li Project management, favoring agile methodologies.
			li Requirements management.
			li Rapid prototyping.
			li Web development according to web standards.
	section.container
		h3
			b Interests
		p Passionate about barrier-free web development as well as state-of-the-art user interface design, especially in regards to web applications.
		p Spare time interests include minimalism and 
			a(href="http://en.wikipedia.org/wiki/Degrowth") degrowth
			| , with some long distance running and reading on the side.
