footer.segment.screen#bottom
	section
		h2.print Downloads
		p.downloads
			each download, index in downloads
				if index
					span.tweak  • 
				a(href=download.src || download.href) Download #{download.title}
	section
		h2.print Imprint
		p.legal.tweak
			a(rel="license", href="https://github.com/cssence/matthias.beitl.net/blob/master/LICENSE", title="Licensed under the GNU General Public License (GPLv3)") © Copyleft #{new Date().getFullYear()} Matthias Beitl
