header
	.tag.fn.screen Matthias Beitl
	.tag
		img.photo(alt="Photo of Matthias Beitl", src="photo.jpg")
	.tag.role.screen Web Developer
	.tag.adr.screen
		span.locality Vienna
		| , 
		span.country-name Austria
	.tag.screen.print
		a.url(rel="home", href="http://matthias.beitl.net/") http://matthias.beitl.net/
