extends ./layout.jade

block head-on
	meta(name="author", content="Matthias Beitl")
	link(rel="apple-touch-icon-precomposed", href="apple-touch-icon.jpg")
	link(rel="apple-touch-icon", href="apple-touch-icon.jpg")
	link(rel="stylesheet", href="style.css")
	// http://icomoon.io/ totally rocks!

block body
	section(role="main")
		.vcard
			.photo
				img(alt="", src="apple-touch-icon.jpg")
			h1.fn Matthias Beitl
			h2.category Web Developer
			p.adr
				a(href="https://maps.google.com/maps?q=vienna+austria")
					span.locality Vienna
					| ,
					span.country-name Austria
					|  
					i.icon-location
			ul.elsewhere.screen
				li
					a(rel="me", href="https://twitter.com/cssence")
						i.icon-twitter
						| Follow on Twitter
				li
					a(rel="me", href="http://at.linkedin.com/in/matthiasbeitl")
						i.icon-linkedin
						| Visit profile on Linked&#x200A;in
				li
					a(rel="me", href="http://www.xing.com/profile/Matthias_Beitl")
						i.icon-xing
						| Visit profile on xing
			p.url.screen
				a(rel="home", href="http://matthias.beitl.net/")
					small http://
					b m
					b a
					b t
					b t
					| hias.beitl.net
					small //
			#about.print
				h3.print About
				p.note
					| Matthias Beitl is a front-end web craftsman who indulges CSS and its friends. If you are into 
					a(rel="me", href="https://github.com/cssence") coding
					|  you will find him as 
					a(rel="me", href="https://twitter.com/cssence") @cssence
					|  on  
					a(rel="me", href="http://cssence.com/") The Internets
					| .
	nav(role="navigation")
		h3.print On the web
		ul
			li
				a.blog(rel="me", href="http://cssence.com/", title="cssence.com")
					i.icon-home
					| Website
			li
				a.twitter(rel="me", href="https://twitter.com/cssence", title="@cssence")
					i.icon-twitter
					| Twitter
			li
				a.github(rel="me", href="https://github.com/cssence", title="/cssence")
					i.icon-github
					| github
			li
				a.facebook(rel="me", href="http://www.facebook.com/matthias.beitl" title="/matthias.beitl")
					i.icon-facebook
					| facebook
			li
				a.google-plus(rel="me", href="http://gplus.to/matthiasbeitl", title="g+.to/matthiasbeitl")
					i.icon-google-plus
					| google+
			li
				a.xing(rel="me", href="http://www.xing.com/profile/Matthias_Beitl" title="/Matthias_Beitl")
					i.icon-xing
					| xing
			li
				a.linkedin(rel="me", href="http://at.linkedin.com/in/matthiasbeitl", title!="at&hellip;/matthiasbeitl")
					i.icon-linkedin
					| Linked&#x200A;in
			li
				a.profile(rel="home", href="http://matthias.beitl.net/", title="matthias.beitl.net")
					i.icon-profile
					| vCard
	footer(role="contentinfo")
		hr.print
		p.legal
			small
				a(href="http://www.gnu.org/licenses/gpl-2.0.html#SEC1", title="Licensed under the GNU General Public License (GPL) v2")
					| Copyleft 2010-2013 Matthias Beitl.
				|  
				a.screen(href="http://www.w3.org/html/logo/", title="HTML5 powered with CSS3: Styling and Semantics")
					| HTML5 powered with CSS3.
