extends ./layout.jade

block content
	include vcard
	include cv
	include links
	include footer

//
	#vcard

	#about (= #vcard .note)

	#elsewhere

	#resume

	#legal | #disclaimer
		no cookies
		copyleft .signature
		canPrint learnMore

	#hire | #recruiting
		17% getInTouch
