doctype html
html(lang="en")

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		title Matthias Beitl (@cssence)
		meta(name="description" content="Résumé of Matthias Beitl, web developer and CSS enthusiast, to be found as @cssence on the Internet.")
		block stylesheets
			if verbose
				link(rel="stylesheet", href="/style.css")
			else
				style
					include ../build/style.min.css
			style(media="screen")
				each bookmark in bookmarks
					if bookmark.color
						= "." + bookmark.id + ":focus,." + bookmark.id + ":hover{background-color:" + bookmark.color + "}"
		block icons
			link(rel="icon", type="image/jpeg", sizes="300x300", href="/photo.jpg")
			link(rel="icon", type="image/x-icon", sizes="16x16 32x32", href="/favicon.ico")

	body
		block content
