doctype html
html(lang="en")

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		title Matthias Beitl
		meta(name="description" content="Virtual home sweet home of web developer Matthias Beitl. His brain waves broadcast from Vienna, Austria.")
		block icons
			link(rel="icon", sizes="16x16", href="/favicon.ico")
			link(rel="icon", type="image/jpeg", sizes="300x300", href="/photo.jpg")
			link(rel="apple-touch-icon", href="/photo.jpg")
		block stylesheets
			if verbose
				link(rel="stylesheet", href="/style.css")
			else
				style
					include ../public/style.min.css

	body
		main(role="main")
			.vcard
				#profile
					.url
						a(rel="home", href="http://matthias.beitl.net/")
							i http://
							| matthias.beitl.net
							i /
					.photo
						img(alt="", src="photo.jpg")
					h1.fn Matthias Beitl
					h2.category Web Developer
					p.adr
						a(href="https://maps.google.com/maps?q=vienna+austria")
							span.locality Vienna
							| , 
							span.country-name Austria
				#about.print
					h3 About
					p.note
						| Matthias Beitl is a front-end web craftsman who indulges CSS and its friends. If you are into 
						a(rel="me", href="https://github.com/cssence") coding
						|  you will find him as 
						a(rel="me", href="https://twitter.com/cssence") @cssence
						|  on 
						a(rel="me", href="http://cssence.com/") The Internets
						| .
		block errors
		nav(role="navigation")
			h3.print On the web
			ul
				li
					a.blog(rel="me", href="http://cssence.com/")
						| Website 
						b cssence.com
				li
					a.twitter(rel="me", href="https://twitter.com/cssence")
						| Twitter 
						b @cssence
				li
					a.github(rel="me", href="https://github.com/cssence")
						| github 
						b /cssence
				li
					a.facebook(rel="me", href="https://www.facebook.com/matthias.beitl")
						| facebook 
						b /matthias.beitl
				li
					a.googleplus(rel="me", href="http://gplus.to/matthiasbeitl")
						| google+ 
						b g+.to/matthiasbeitl
				li
					a.xing(rel="me", href="https://www.xing.com/profile/Matthias_Beitl")
						| xing 
						b /Matthias_Beitl
				li
					a.linkedin(rel="me", href="https://at.linkedin.com/in/matthiasbeitl")
						| Linked&#x200A;in 
						b at&hellip;/matthiasbeitl
				li
					a(rel="home", href="http://matthias.beitl.net/")
						| vCard 
						b matthias.beitl.net
		footer(role="contentinfo")
			p.legal
				a(rel="license", href="https://github.com/cssence/matthias.beitl.net/blob/gh-pages/LICENSE", title="Licensed under the GNU General Public License (GPLv3)") Copyleft 2010-2014 Matthias Beitl
