extends ./index.jade

block description
	title Not connected

append stylesheets
	style(media="screen")
		| main.segment{min-height:calc(100vh - 14em);margin-top:9em}
		| table{table-layout:fixed;width:100%;border-collapse:collapse}
		| th{font-weight:700;text-align:left}
		| th,td{padding:1em 1em 1em 0;border:0 solid #e0e0e0;border-bottom-width:1px}"

block content
	main.segment#top
		.note
			h1
				b Not connected
			p
				| You need to be online to download certain types of files.
				|  Please take a look at the table below for additional information.
			table
				thead
					tr
						th Content
						th Available?
				tbody
					tr
						td
							a(href="/#cv") Résumé as HTML
						td Yes
					each download in downloads
						tr
							td
								a(href=download.src || download.href) #{download.title} as #{download.href.split(".").pop().toUpperCase()}
							td= download.src ? "Yes" : "When connected"

block downloads
