aside.screen#referral(role="dialog", aria-labelledby="referral-title", aria-describedby="referral-description")
	.container
		h2 About career-oriented social networking sites
		p 👋 Hi there!
		p#referral-title
			| So you want to know more about 
			span.highlight Matthias Beitl
			| ? Any chance you are coming from place like LinkedIn or XING?
		p#referral-description Guess what! Instead of keeping those places up to date, this site is the single source of truth.
		p
			a(href="#") Got it!
