.screen#referral(role="dialog", aria-labelledby="referral-title", aria-describedby="referral-description")
	section
		h2 About career-oriented social networking sites
		p 👋 Hi there!
		p#referral-title Any chance you are coming from a place like LinkedIn or XING?
		p#referral-description Guess what? Instead of keeping those places up to date, this site right here is my single source of truth.
		p
			a(href="#🆗") Got it!
