aside.screen#referral(role="dialog", aria-labelledby="referral-title", aria-describedby="referral-description")
	.container
		h2 About career-oriented social networking sites
		p 👋 Hi there!
		p#referral-title It looks like you want to know more about Matthias? Any chance you are coming from a place like LinkedIn or XING?
		p#referral-description Well, guess what? Instead of keeping those places up to date, this site right here is the single source of truth.
		p
			a(href="#") Got it!
