.vcard#top
	h1.tag.fn Matthias Beitl
	p.tag
		img.photo(alt="Photo of Matthias Beitl", src="/photo.jpg")
	p.tag.role.screen Web Developer
	p.tag.adr.screen
		span.locality Vienna
		| , 
		span.country-name Austria
	p.tag.screen.print
		a.url(rel="home", href="http://matthias.beitl.net/") http://matthias.beitl.net/
	section.screen#about
		h2.print About
		p.note
			| Matthias is a front-end web craftsman who indulges Cascading Style Sheets and their friends. 
			br
			| If you are into 
			a(rel="me", href="https://github.com/cssence") coding
			|  you will find him as 
			a(rel="me", href="https://twitter.com/cssence") @cssence
			|  on 
			a(rel="me", href="http://cssence.com/") the Internet
			| .
