header.vcard
	#profile
		h1.fn Matthias Beitl
		p
			img.photo(alt="Photo of Matthias Beitl", src="photo.jpg")
		p.category Web Developer
		p.adr
			a(href="https://maps.google.com/maps?q=vienna+austria")
				span.locality Vienna
				| , 
				span.country-name Austria
		p.print
			a.url(rel="home", href="http://matthias.beitl.net/") http://matthias.beitl.net/
	section.paper#about
		h2 About
		p.note
			| Matthias is a front-end web craftsman who indulges Cascading Style Sheets and their friends. If you are into 
			a(rel="me", href="https://github.com/cssence") coding
			|	you will find him as 
			a(rel="me", href="https://twitter.com/cssence") @cssence
			|	on 
			a(rel="me", href="http://cssence.com/") The&nbsp;Internets
			| .
