html {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*,
:after,
:before {
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
small {
	font-size: 75%;
}
img {
	max-width: 100%;
}
ul {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
.url i,
.adr a .icon-location {
	display: none;
}
@media print {
	.screen,
	nav b {
		display: none;
	}
	* {
		margin: 0;
		color: #000 !important;
		text-decoration: none;
	}
	@page {
		margin: 22.5mm;
	}
	html {
		font: 16pt/1.4 serif;
	}
	.url,
	footer {
		font-size: 75%;
	}
	h1 {
		font-size: 200%;
		line-height: 1;
	}
	.fn,
	.category,
	.adr {
		font-family: sans-serif;
	}
	.url {
		margin-bottom: 18mm;
	}
	h3,
	footer {
		margin: 18mm 0 2mm;
	}
	h3 {
		border-bottom: 1pt solid #ccc;
	}
	nav li {
		position: relative;
	}
	nav svg {
		display: block;
		position: absolute;
		width: 0.6em;
		height: 0.6em;
		top: 0.3em;
		left: 30%;
		margin-left: -2em;
	}
	nav a:before {
		content: attr(href);
		display: inline-block;
		float: right;
		width: 70%;
	}
	.photo {
		float: right;
		width: 30mm;
	}
	.category {
		margin: 0 !important;
	}
}
@media only screen {
	.print {
		display: none;
	}
	html,
	body {
		margin: 0;
		padding: 0;
	}
	html {
		height: 100%;
		background: url(fusion.jpg) 77px 37px repeat #333;
		background: url(fusion.jpg) 557px 757px repeat-y, url(fusion.jpg) 317px 517px repeat-y, url(fusion.jpg) 77px 37px repeat #333;
		color: #fff;
		font: 16px/1.4 sans-serif;
	}
	body,
	nav {
		min-height: 100%;
	}
	body {
		background: rgba(186,218,85,0.67);
	}
	.fn {
		margin: 0;
		font-size: 1.5em;
	}
	.category {
		margin: 0;
		font-size: 1.25em;
		font-weight: normal;
	}
	a {
		color: #4f4840;
		text-decoration: none;
	}
	a:hover,
	a:focus {
		color: #4f4840;
		box-shadow: inset 0 -0.25rem rgba(186,218,85,0.7);
		outline: none;
	}
	.vcard,
	nav li {
		background: #fff;
		color: #222;
		box-shadow: 0 0.125rem 0.25rem rgba(60,60,60,0.5);
	}
	.vcard {
		position: relative;
		width: 28rem;
		height: 15.75rem;
		margin: 0 auto;
		padding: 1.5rem 0 0;
	}
	.vcard svg {
		width: 1em;
		height: 1em;
		fill: #4f4840;
	}
	.url {
		display: block;
		position: absolute;
		z-index: 1;
		top: -0.25rem;
		font-size: 0.75rem;
		letter-spacing: 0.75em;
	}
	.url a {
		display: block;
		padding-left: 0.125rem;
	}
	.photo {
		position: absolute;
		top: 0;
		height: 100%;
	}
	.adr {
		margin: 0 0 1.5rem;
	}
	.adr a:hover .icon-location,
	.adr a:focus .icon-location {
		display: inline-block;
		margin-left: 0.5em;
	}
	.country-name {
		text-transform: uppercase;
	}
	.elsewhere li {
		position: relative;
		line-height: 1.67;
	}
	.elsewhere svg {
		display: block;
		position: absolute;
		top: 50%;
		left: -3rem;
		margin-top: -0.5em;
	}
	nav {
		width: 20em;
		margin: 0 auto;
		padding: 1rem;
	}
	nav li {
		margin: 1em 0;
	}
	nav a {
		display: block;
		position: relative;
		padding: 0.75rem 1rem 1rem;
		border-top: 0.25rem solid #bada55;
		color: #bada55;
		fill: #bada55;
		font-size: 0.75rem;
	}
	nav svg,
	nav a:before {
		display: block;
		position: absolute;
		top: 1rem;
		right: 1rem;
		width: 3rem;
		height: 3rem;
		-ms-transform: rotate(9deg);
		-webkit-transform: rotate(9deg);
		transform: rotate(9deg);
		-webkit-transition: -webkit-transform .6s ease-in-out, opacity .6s ease-in-out;
		transition: transform .6s ease-in-out, opacity .6s ease-in-out;
	}
	nav a:before {
		content: '';
		z-index: 1;
		background: url(data:image/gif;base64,R0lGODlhMAAwAIAAAP///////yH5BAEKAAEALAAAAAAwADAAAAL+jAMJaHvfkGLNvQSh2gtH6UxXRkrHdlqg13lmCX/WzGF1q2r5J4ccc+vENJRMyORL7U4wn7DCdP6WQ57SFkxWjSLSD8oqMrfdsRcVoZaOXLVSbN7KoSs3PDWPPZtEV769Fuj3N/KHRUj0Ild2VzXYd0ZI85gYaXfBODRztvO1ZyW4lIlJV4o4h1VzWhg1CXdppAmr6BXVxCa7yqkbuGjDO8sVR9qLmrOpg9o4TAuExhsLKgVSy1pN3MPSEvtpJqoSVISLl0sxnUwNalzxpaOlXp7upmrNDM0eLJ6/FtaLsi/tCaxtlPI809WJTJ1TnY7pKdjsDTZjDVPhOAbxFhoZRi78ZHyYBZyTK7Y04QuXDR8SXyrpTKhRAAA7) no-repeat;
		background-size: cover;
		opacity: 1;
	}
	nav a:focus:before,
	nav a:hover:before {
		opacity: 0;
	}
	nav a:focus svg,
	nav a:hover svg,
	nav a:focus:before,
	nav a:hover:before {
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	nav a:after {
		content: attr(href);
		display: block;
	}
	nav a b {
		display: block;
		color: #4f4840;
		font-size: 1.25rem;
		font-weight: normal;
		line-height: 2;
	}
	.blog {
		border-top-color: #d34c6c;
		color: #d34c6c;
		fill: #d34c6c;
	}
	.twitter {
		border-top-color: #4099ff;
		color: #4099ff;
		fill: #4099ff;
	}
	.github {
		border-top-color: #444;
		color: #444;
		fill: #444;
	}
	.facebook {
		border-top-color: #3b5998;
		color: #3b5998;
		fill: #3b5998;
	}
	.google-plus {
		border-top-color: #d34836;
		color: #d34836;
		fill: #d34836;
	}
	.xing {
		border-top-color: #006464;
		color: #006464;
		fill: #006464;
	}
	.linkedin {
		border-top-color: #007bb6;
		color: #007bb6;
		fill: #007bb6;
	}
	.legal {
		margin: 0;
		padding: 1rem;
		background: #000;
		box-shadow: 0 -0.125rem 0.25rem rgba(0,0,0,0.5);
		color: #fff;
		font-size: 0.75rem;
		text-align: center;
	}
	.legal a {
		display: inline-block;
		padding: 0.5rem 0;
		color: #cfc8c0;
	}
}
@media only screen and (max-width: 447px) {
	.vcard {
		width: auto;
		min-width: 20rem;
		height: 8.5rem;
		padding: 2rem 0 0 8.5rem;
		background: #000;
		color: #fff;
	}
	.photo {
		top: 0;
		left: 0;
		width: 8.5rem;
	}
	.adr a {
		color: #cfc8c0;
	}
	.adr a .icon-location {
		fill: #cfc8c0;
	}
	.url {
		top: 0;
		right: 0;
		background: #fff;
	}
	.url a {
		padding: 0 0.5rem;
	}
	.elsewhere {
		display: none;
	}
}
@media only screen and (min-width: 448px) {
	.vcard {
		padding: 2.25rem 1.5rem 0 10rem;
		border-top: 0.25rem solid #bada55;
	}
	.photo {
		left: 1.5rem;
		width: 7rem;
		padding: 1.5rem 0 0;
		background: url(data:image/gif;base64,R0lGODdhBgAGAIAAAO311P///ywAAAAABgAGAAACCEyAaKnH+6AqADs=);
	}
	.photo img {
		margin: -0.5rem;
		max-width: none;
		width: 8rem;
		border: 0.5rem solid #fff;
		border-radius: 50%;
	}
}
@media only screen and (min-width: 768px) {
	[role="main"] {
		position: fixed;
		top: 4rem;
		left: 1rem;
		right: 20rem;
		bottom: 4rem;
	}
	.vcard {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 27rem;
		height: 15.75rem;
		margin: -7.875rem 0 0 -13.5rem;
	}
	nav {
		margin-right: 0;
	}
}
/*
@media only screen and (min-width: 1024px){html{font-size:18px;}}
@media only screen and (min-width: 1280px){html{font-size:20px;}}
@media only screen and (min-width: 1344px){html{font-size:21px;}}
@media only screen and (min-width: 1600px){html{font-size:25px;}}
@media only screen and (min-width: 2048px){html{font-size:32px;}}
@media only screen and (min-width: 2560px){html{font-size:40px;}}
*/