main {
	display: block; /*IE<11*/
}
body {
	margin: 0;
}
nav ul {
	list-style: none;
	padding: 0;
}

@media print {
	.screen {
		display: none;
	}
	* {
		color: #000;
		text-decoration: none;
	}
	@page {
		margin: 20mm;
	}
	.page-break {
		page-break-before: always;
	}
	html {
		font: 11pt/1.25 serif;
	}
	header {
		position: relative;
		width: 38mm;
		float: right;
		margin: 8.375em 0 1em 1em;
		padding-top: 38mm;
	}
	img {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
	}
	h1 {
		font-size: inherit;
	}
	main {
		padding-top: 5em;
	}
	main h2 {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		margin: 0;
		font-size: 2.25em;
		text-align: center;
	}
	h1 {
		margin: .5em 0 -.5em;
	}
	nav h2,
	h3 {
		margin: 2em 0 1em;
		font-family: monospace;
		font-size: 1.5em;
	}
	h4 {
		margin: 2em 0 -.5em;
		font-size: inherit;
	}
	h5 {
		margin: 1em 0;
		font-size: inherit;
		font-style: italic;
		font-weight: inherit;
	}
	p,
	ul,
	li,
	dl,
	dd {
		margin: .5em 0;
	}
	dt {
		position: absolute;
	}
	dd {
		margin: .5em 0;
	}
	ul {
		list-style-position: outside;
		padding-left: 0;
	}
	dd,
	main ul,
	h3 ~ p,
	h5 ~ p,
	nav a::before {
		margin-left: 7em;
	}
	main ul,
	h3 ~ p,
	h5 ~ p {
		margin-right: 3.5em;
	}
	.timestamp {
		position: absolute;
		right: 0;
	}
	nav a::before {
		content: attr(href);
		display: block;
		position: absolute;
	}
	svg {
		height: .75em;
		width: .75em;
		margin-right: 1ex;
	}
	footer {
		font-size: 75%;
	}
}
@media only screen {
	.print {
		display: none;
	}
	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
	* {
		color: inherit;
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit;
		text-decoration: inherit;
	}
	html {
		box-sizing: border-box;
		background: #000;
		color: #fff;
		font: 16px/1.25 sans-serif;
	}
	body {
		background: #222;
		background: linear-gradient(180deg, rgba(186,218,85,.3) 0, #bada55 200vw), linear-gradient(180deg, rgba(0,0,0,.3) 0, #000 100vw), url(/photo.jpg) top / 100% auto no-repeat #000;
	}
	.paper {
		max-width: 38em;
		margin: 2px auto;
		padding: 3em 1em;
		background: #fff;
		color: #222;
		font-family: serif;
	}
	.paper ul {
		padding-left: 1em;
	}
	.paper li {
		margin: .25em 0;
	}
	.paper a {
		box-shadow: 0 -.25em rgba(186,218,85,.6) inset;
	}
	.paper a:focus,
	.paper a:hover {
		border-bottom: 2px solid rgba(186,218,85,.6);
	}
	h1 {
		margin: 0;
		font-size: 2em;
	}
	h2 {
		margin: 0 0 2em;
		font-size: 1.75em;
		text-align: center;
	}
	h3 {
		margin: 2.8em 0 1.5em -2rem;
		font-size: 1.25em;
		padding-left: .75rem;
		border-left: 1.25rem solid #eff4f5;
		letter-spacing: .3ex;
		line-height: 1;
	}
	b {
		display: inline-block;
		margin-left: -.3ex;
		padding-left: .3ex;
		background-color: #222;
		color: #fff;
		font-family: monospace;
		text-transform: uppercase;
	}
	h4 {
		margin: 2.25em 0 -.75em;
		font-weight: 700;
	}
	h5 {
		margin: 2.25em 0 .75em;
	}
	ul,
	dl,
	p {
		margin: .75em 0 1.5em;
	}
	.company {
		margin-left: -.3ex;
		padding: 0 .3ex;
		background-color: rgba(186,218,85,.3);
	}
	.timestamp {
		float: right;
		margin-left: .33ex;
	}
	.timestamp,
	dt {
		color: #9ea3ab;
		font-family: sans-serif;
		font-size: .875em;
		line-height: 1.429;
	}
	dt {
		margin: .25em 0 -.25em;
	}
	dd {
		margin: .25em 0;
	}
	#profile {
		position: relative;
		padding: 16.5em 1em 15.375em;
		color: #fff;
		text-align: center;
		text-shadow: 0 1px #000;
	}
	.sub {
		margin: 0;
	}
	.sub-1 {
		font-size: 1.25em;
	}
	.sub-2 {
		font-size: .875em;
		opacity: .75;
	}
	.country-name {
		text-transform: uppercase;
	}
	.photo {
		position: absolute;
		top: 6em;
		left: 50%;
		height: 9.375em;
		width: 9.375em;
		margin-left: -4.6875em;
		border: .25em solid #fff;
		border-radius: 50%;
		box-shadow: 0 1px #000;
	}
	.note {
		margin-right: auto;
		margin-left: auto;
		max-width: 18em;
	}
	#elsewhere {
		position: absolute;
		top: 28em;
		right: 0;
		left: 0;
	}
	.bookmarks {
		margin: 0;
		text-align: center;
	}
	.bookmark {
		display: inline-block;
		width: 25%;
		padding: 2px;
		background: #000;
	}
	.bookmark a {
		display: block;
		padding: 1em 0;
		font-size: .875em;
		transition: background-color .3s linear;
	}
	.bookmark svg {
		display: block;
		width: 2em;
		height: 2em;
		margin: 0 auto .5em;
	}
	.bookmark path {
		fill: #fff;
	}
	footer {
		padding: 1.25em 2em .5em;
		background: #000;
		font-size: 75%;
		text-align: center;
	}
}
@media only screen and (min-width: 28em) {
	.paper {
		padding: 3em 2em;
	}
}
@media only screen and (min-width: 38em) {
	.paper {
		margin: 3em auto;
	}
	dt {
		position: absolute;
		width: 8em;
		margin-top: 0;
	}
	dd {
		margin-left: 8em;
	}
	body {
		margin-top: 5em;
	}
	#profile {
		padding-bottom: 3em;
	}
	#elsewhere {
		top: 0;
	}
	.bookmark {
		width: 12.5%;
	}
}
@media only screen and (min-width: 60em) {
	html {
		font-size: 2vw;
	}
}
@media only screen and (max-width: 19.9375em) {
	html {
		font-size: 5vw;
	}
}
