@keyframes fadeinout {
	0%, 100% {
		opacity: 0;
	}
	20%, 80% {
		opacity: 1;
	}
}
main {
	display: block; /* IE10 */
}
* {
	color: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: inherit;
}
body {
	margin: 0;
}
nav ul {
	list-style: none;
	padding: 0;
}
img {
	max-width: 100%;
}
svg {
	overflow: visible;
}
blockquote {
	margin-right: 5em;
	margin-left: 0;
	color: #bada55;
}
blockquote p::before {
	content: "*";
	position: absolute;
	margin-left: -1.5ex;
	font-size: 250%;
}
.tel-area {
	margin: 0 .5ex;
}

@media print {
	.screen {
		display: none;
	}
	* {
		box-shadow: none !important;
		text-decoration: none !important;
	}
	@page {
		margin: 20mm;
	}
	html {
		color: #000;
		font: 11pt/1.25 serif;
	}
	main::after {
		/* http://chart.apis.google.com/chart?chs=80x80&cht=qr&chl=https%3A%2F%2Fmatthias.beitl.net%2F */
		content: url("qr.png");
		position: absolute;
		top: 1em;
		right: 1em;
	}
	.photo {
		display: block;
		overflow: hidden;
		height: 6em;
		width: 6em;
		margin: 0;
	}
	.photo,
	.vcard::before,
	.vcard::after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
	.vcard::before,
	.vcard::after {
		content: "";
		left: 6em;
		height: 0;
		width: 0;
		border: 1.5em solid transparent;
		border-width: 3em 4em 3em 2em;
		border-left-color: #000;
	}
	.vcard::after {
		right: 0;
		left: auto;
		border-color: #bada55;
		border-left-color: transparent;
		border-right-width: 6em;
	}
	h1 {
		margin: 0;
		font-family: sans-serif;
		font-size: 2em;
		line-height: 2;
		text-align: center;
	}
	#cv h2 {
		 color: #bada55;
	}
	#cv h2 {
		margin: -.5em 0 4em;
		font-size: 1.5em;
		font-style: italic;
		text-align: center;
	}
	h2.print::before,
	h3::before {
		content: "";
		float: left;
		width: 6em;
		height: 0;
		margin: .6em 1em 0 0;
		font-size: .8em;
		border-top: 1mm solid #bada55;
	}
	h2.print,
	h3 {
		margin: 2em 0 1em;
		font-family: sans-serif;
		font-size: 1.25em;
	}
	h4 {
		margin: 2em 0 -.5em;
	}
	h5 {
		margin: 1em 0;
		font-style: italic;
	}
	.page-break {
		page-break-before: always;
	}
	p,
	li {
		page-break-inside: avoid;
	}
	p,
	ul,
	li,
	dl,
	dd {
		margin: .5em 0;
	}
	dt {
		position: absolute;
	}
	ul {
		list-style-position: outside;
		padding-left: 0;
	}
	dd,
	#cv ul,
	#cv p,
	nav a::before {
		margin-left: 7em;
	}
	#cv ul,
	#cv p {
		margin-right: 3.5em;
	}
	.timestamp {
		position: absolute;
		right: 0;
	}
	nav a::before {
		content: attr(href);
		display: block;
		position: absolute;
		color: #000;
	}
	svg {
		position: absolute;
		right: 0;
		height: 1em;
		width: 1em;
	}
}
@media screen {
	.print {
		display: none;
	}
	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
	*:focus {
		outline: none;
		box-shadow: 0 0 0 3px rgba(255,165,0,.8) !important;
	}
	html {
		box-sizing: border-box;
		background: #000;
		color: #fff;
		font: 16px/1.25 sans-serif;
	}
	main {
		display: flex;
		flex-direction: column;
	}
	body::before {
		content: "";
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		height: 100vw;
		background-image: linear-gradient(rgba(186,218,85,.7) 0, #000 100%), url(/photo.jpg);
		background-position: top center;
		background-repeat: no-repeat;
		background-size: auto, 100% auto;
	}
	.vcard {
		position: relative;
	}
	.vcard,
	nav {
		order: 0;
		z-index: 1;
	}
	#cv {
		order: 1;
		z-index: 0;
	}
	.segment::before,
	.segment::after {
		content: "";
		position: absolute;
		z-index: -1;
		right: 0;
		left: 0;
		border: 0 solid transparent;
		border-width: 4em 50vw 0;
	}
	.segment::before {
		bottom: 100%;
		border-color: transparent #000 #000;
	}
	.segment::after {
		top: 100%;
		border-top-color: #000;
	}
	.segment {
		position: relative;
		z-index: 0;
		background: #000;
	}
	#cv::before {
		border-color: transparent #fff #fff;
	}
	#cv {
		padding: 4em 1em 8em;
		background: #fff;
		color: #222;
		font-family: serif;
	}
	footer.segment::after {
		content: none;
	}
	section {
		max-width: 35em;
		margin: 0 auto;
	}
	blockquote,
	#cv ul {
		padding-left: 1em;
	}
	#cv li {
		margin: .5em 0;
	}
	#cv a {
		box-shadow: 0 -.25em rgba(186,218,85,.6) inset;
		transition: border-width .1s ease;
	}
	#cv a:hover {
		border-bottom: 2px solid rgba(186,218,85,.6);
	}
	h2 {
		margin: 0 0 2em;
		font-size: 1.75em;
		text-align: center;
	}
	h3 {
		margin: 2.8em 0 1.5em;
		font-size: 1.25em;
		letter-spacing: .3ex;
		line-height: 1;
	}
	b {
		display: inline-block;
		margin-left: -.3ex;
		padding-left: .3ex;
		background-color: #222;
		color: #fff;
		font-family: monospace;
		text-transform: uppercase;
	}
	h4 {
		margin: 2.25em 0 -.75em;
		font-weight: 700;
	}
	h5 {
		margin: 2.25em 0 .75em;
	}
	ul,
	dl,
	p {
		margin: .75em 0 1.5em;
	}
	.company {
		margin-left: -.3ex;
		padding: 0 .3ex;
		background-color: rgba(186,218,85,.3);
	}
	.timestamp {
		float: right;
		margin-left: 1ex;
	}
	.timestamp,
	dt {
		color: #9ea3ab;
		font-family: sans-serif;
		font-size: 87.5%;
		line-height: 1.429;
	}
	dt {
		margin: .25em 0 -.25em;
	}
	dd {
		margin: .25em 0;
	}
	.vcard {
		padding: 16em 1em 6em;
		color: #fff;
		text-align: center;
		text-shadow: 0 1px rgba(0,0,0,.8);
	}
	.tag {
		margin: 0;
	}
	.fn {
		margin: 0 0 .5em;
		font-size: 2em;
	}
	.role {
		font-size: 1.25em;
	}
	.adr {
		font-size: 87.5%;
		opacity: .75;
	}
	.country-name {
		text-transform: uppercase;
	}
	.photo {
		overflow: hidden;
		position: absolute;
		top: 5em;
		left: 50%;
		height: 9.375em;
		width: 9.375em;
		margin-left: -4.6875em;
		border: .25em solid #fff;
		border-radius: 50%;
		box-shadow: 0 1px rgba(0,0,0,.8);
	}
	.note {
		margin: 3em auto 0;
		max-width: 18em;
		font-size: 87.5%;
	}
	nav.segment {
		height: 9em;
		margin-bottom: 4em;
	}
	nav ul {
		margin: 0;
		text-align: center;
	}
	nav li {
		display: inline-block;
		position: relative;
		width: 25%;
		padding: 2px;
	}
	nav li:nth-child(4n - 3),
	nav li:nth-child(4n) {
		top: -2em;
	}
	nav a {
		display: block;
		height: 5rem;
		width: 5rem;
		margin: 0 auto;
		padding: .5em 0;
		border-radius: 50%;
		font-size: 87.5%;
		transition: background-color .5s ease;
	}
	nav svg {
		overflow: visible;
		display: block;
		width: 2em;
		height: 2em;
		margin: .5em auto;
	}
	nav path:not([fill]) {
		fill: #fff;
	}
	nav path[fill] {
		transition: fill .5s ease;
	}
	nav a:hover path[fill] {
		fill: rgba(255,255,255,.5);
	}
	footer {
		padding: 1.25em 1em .5em;
		text-align: center;
	}
	footer a {
		display: inline-block;
		padding: .5em 0;
		font-size: 87.5%;
	}
	.downloads a {
		width: 6em;
	}
	.tweak {
		display: inline-block;
		min-width: 3em;
		opacity: .75;
	}
	[role="dialog"] {
		position: fixed;
		z-index: 4;
		top: 0;
		right: 0;
		min-height: 100vh;
		left: 0;
		padding: 4em 1em;
		background: rgba(0,0,0,.8);
		text-align: left;
		opacity: 0;
		transform: translateY(-100%);
		transition: opacity .75s ease, transform 0s linear .75s, visibility 0s linear .75s;
		visibility: hidden;
	}
	[role="dialog"]:target {
		opacity: 1;
		transform: translateY(0);
		transition: opacity .75s ease, transform 0s linear, visibility 0s linear;
		visibility: visible;
	}
	[role="dialog"]:target section {
		transform: translateY(0);
	}
	[role="dialog"] section {
		max-width: 25em;
		padding: 1.75em 1.5em .5em;
		background: #fff;
		box-shadow: 0 .25em 1em rgba(0,0,0,.5);
		color: #222;
		opacity: 1;
		transform: translateY(-3em);
		transition: transform .75s ease;
	}
	[role="dialog"] h2 {
		color: #9ea3ab;
		font-size: 75%;
		text-align: left;
		text-transform: uppercase;
	}
	[role="dialog"] a {
		display: block;
		width: max-content;
		margin: 0 auto;
		padding: .5em 1.5em;
		border-radius: 1.5em;
		background: #bada55;
	}
	[role="alert"] {
		position: fixed;
		z-index: 5;
		top: 1em;
		left: 50%;
		width: 14em;
		margin-left: -7em;
		padding: 1em 0 .875em;
		background: #222;
		box-shadow: 0 .25em 1em rgba(0,0,0,.8);
		color: #fff;
		font-size: 75%;
		text-align: center;
		text-transform: uppercase;
		animation: 3s ease fadeinout forwards;
	}
	[role="alert"] i {
		color: #bada55;
	}
}
@media screen and (min-width: 28em) {
	#cv.segment {
		padding-right: 2em;
		padding-left: 2em;
	}
	dt {
		position: absolute;
		width: 8em;
		margin-top: 0;
	}
	dd {
		margin-left: 8em;
	}
}
@media screen and (min-width: 48em) {
	nav.segment {
		height: 4.5em;
	}
	nav li {
		width: 12.5%;
	}
	nav li:nth-child(2),
	nav li:nth-child(7) {
		top: -1em;
	}
	nav li:nth-child(4),
	nav li:nth-child(5) {
		top: 1em;
	}
}
@media screen and (min-width: 60em) {
	html {
		font-size: 2vw;
	}
}
@media screen and (max-width: 19.9375em) {
	html {
		font-size: 5vw;
	}
}
